In [1]:
import pandas as pd
from lib.dataset import load_train_data, load_test_data

In [2]:
train_data = load_train_data()
train_data

      ID                                             REVIEW  LABEL
0      0  The waiter is not friendly, the person wears n...      1
1      1  kakaknya enak bangetttt, pelayanannya cepet ta...      5
2      2         Pelayanan sangatt ramah, banyak promoanyaa      5
3      3                        Tempatnya nyaman dan bersih      5
4      4  Pelayanan cepat dan bagus, coba Durian Coffee ...      5
..   ...                                                ...    ...
897  897  Jujurly.. pas masuk resto nya.. suasananya nya...      5
898  898  makanan enak, pelayan baik dan ramah, bagus de...      5
899  899  Tempat ngopi area G-Walk yang buka 24/7. Cocok...      5
900  900  Salah satu kopken favorit, pelayanan ramah, te...      5
901  901        Its fun to meet here.. its been a long time      4

[902 rows x 3 columns]

In [3]:
test_data = load_test_data()
test_data

      ID                                             REVIEW
0      0  LOCATION: Letaknya di perempatan jalan, di dep...
1      1  Boleh lah sesekali kesini, makanan biasa saja ...
2      2  Tempatnya enak biarpun tidak luas. Suasana nyaman
3      3  depot bu Rudy antri, driver gojek kalau dapet ...
4      4  saya sering banget makan di tempat ini ...tapi...
..   ...                                                ...
495  495  Iki yakopo seh, titik lokasimu kok nng jl ahma...
496  496  Tempatnya enak, deket pintu keluar. Kalo menu ...
497  497                       Pelayannya agak nyebelin sih
498  498  Makanan nya untuk saya kurang cocok, hanya pis...
499  499  Br prtm x ksini..krn memang mi mapan favorit k...

[500 rows x 2 columns]